body{/**/
    background-color: #FFFFFF;
    padding: 0;
    margin: 10;
}
header{
    font-size: 20px;
    background-color: #d0dfec;
    border-bottom: solid "808080";
    height: 100px;
    margin-top: 20px;
    white-space: nowrap;
    display:flex;
    text-align: right;
    align-items: flex-end;
}
footer{
    background-color: #b2d9fc;
    height: 120px;
    white-space: nowrap;
}
.mainbody{
    display: flex;
    float: left;
    margin: 0 30px 0 30px;
    white-space: nowrap;
}
.sidebar{
    width: 250px;
}
.nav{
    height: 150px;
}
.contents{
    width: 70%;
    margin: 0 30px 0 30px;
}
.contents_body {
    padding: 0 30px;
}
.content {
    padding: 0 30px;
}
#mng{
    color: gray;
    padding-left:0;
}
#search{
    background-color: #cbec9f;
    border: solid 0.5px;
    border-radius: 5ps;
}
#school_rank ul li{
    background-color: #cbec9f;
}
#recently_comment{
    background-color: #edffd6;
}
#edit_school{
    background-color: #edffd6;
}
#recently_comment ul li, #recently_comment ol li {
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
}
#school_rank > ul li {/*学校のランキングを横に並べたい*/
    background-color: #cbec9f;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    list-style: none;
}
ul li{
    background-color: #cbec9f;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    list-style: none;
}
#error {
    text-align: center;
}
.required {
    display: inline-block; /* インラインブロックで配置 */
    border: 1px solid red; /* 赤い枠線 */
    padding: 1px 2px; /* 内側の余白 */
    color: red; /* 文字色 */
    font-weight: bold; /* 太字 */
    border-radius: 3px; /* 角を少し丸める */
    font-size: 12px; /* 文字サイズを小さく */
}