<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>HIGH SCHOOL LIBRARY</title>
        <link rel="stylesheet" href="overview.css">
    </head>
    <bo>
        <header>
            <img id="top" src="image.png" width="300" height="100" alt="高校の写真">
            <div id="mng">
                <form>
                    <input type="submit" value="学校登録"><!--権限制御の追加がない-->　　　　　　　　　
                    <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
                </form>
                <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
                    <span>
                        <label for="search_h">高校名で検索</label>
                        <input type="text" id="keyword" name="keyword">
                        <input type="submit" value="検索">
                    </span>

                </form>
            </div>
        </header>
        <body>
            <div class="contents-body">
                <div class="school-info">
                    <div class="mod-school">
                        <div class="mod-school-inner">
                            <div class="mod-school-top">
                                <div class="mod-school-one">
                                    ○○○○高等学校　偏差値： {学校.偏差値}
                                    <form>
                                        <input type="submit" value="ログアウト">
                                    </form>
                                </div>
                                <div class="mod-school-caption">(ふりがな)</div><div class="school-star">img:★★☆☆☆  {評価値の平均値2.2}</div>
                                <!-- <p class="mod-school-info">○○県 / 公立 / 共学</p> -->
                            </div>
                            <div class="mod-school-bottom">
                                <div class="info">

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="school-image">
                    <img id="top" src="image.png" width="100" height="100" alt="高校の写真">
                </div>
                <div class="overview">
                    <h2>概要</h2>
                    <p>
                        学校.概要
                    </p>
                </div>
                <div class="post">
                    <h2>投稿</h2>
                    <div id="comments">
                        <div id="comment">
                            <ul>
                                <img id="top" src="image.png" width="100" height="100" alt="高校の写真">
                                <li>
                                        在校生or卒業生 / 卒業年度<br>
                                        <a href="link_to_comment_overview"><br>投稿タイトル</a><br>
                                        img?総合評価点<br>
                                        投稿年投稿月(年/月)
                                </li>
                            </ul>
                            <ul>
                                総合評価
                                <li>hogehogehoge<br>hogehoge</li>
                            </ul>
                        </div>
                        <div id="comment">
                            <ul>
                                <img id="top" src="image.png" width="100" height="100" alt="高校の写真">
                                <li>
                                        在校生or卒業生 / 卒業年度<br>
                                        <a href="link_to_comment_overview"><br>投稿タイトル</a><br>
                                        img_総合評価点<br>
                                        投稿年投稿月(年/月)
                                </li>
                            </ul>
                            <ul>
                                総合評価
                                <li>hogehogehoge<br>hogehoge</li>
                            </ul>
                        </div>
                        <div id="comment">
                            <ul>
                                <img id="top" src="image.png" width="100" height="100" alt="高校の写真">
                                <li>
                                        在校生or卒業生 / 卒業年度<br>
                                        <a href="link_to_comment_overview"><br>投稿タイトル</a><br>
                                        img_総合評価点<br>
                                        投稿年投稿月(年/月)
                                </li>
                            </ul>
                            <ul>
                                総合評価
                                <li>hogehogehoge<br>hogehoge</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <footer>
            <form th:action="@{school/add}" th:object="${admin}" th:method="post">
                <label>お問い合わせ：000-0000-00000</label>　　　　　　
                <input type="submit" value="管理者ログイン">
            </form>
        </footer>
    </body>
</html>