<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>HIGH SCHOOL LIBRARY</title>
        <link rel="stylesheet" href="highSchoolLib.css">
    </head>
    <bo>
        <header>
            <img id="top" src="image.png" width="300" height="100" alt="高校の写真">
            <div id="mng">
                <form>
                    <input type="submit" value="学校登録"><!--権限制御の追加がない-->
                    <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
                </form>
                <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
                    <span>
                        <label for="search_h">高校名で検索</label>
                        <input type="text" id="keyword" name="keyword">
                        <input type="submit" value="検索">
                    </span>

                </form>
            </div>
        </header>
        <body>
            <div class="contents_body">
                <div id="edit_school">
                    <form th:action="@{school/add}" th:object="${school}" th:method="post">
                        <p>
                            <label for="name">高校名</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="name" placeholder=""></input>
                        </p>
                        <p>
                            <label for="prefecture">都道府県</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <select disabled name="pref" id="prefecture" ><!-- 都道府県プルダウンリスト -->
                                <option value=""></option>
                                <option value="北海道">北海道</option>
                                <option value="青森県">青森県</option>
                                <option value="岩手県">岩手県</option>
                                <option value="宮城県">宮城県</option>
                                <option value="秋田県">秋田県</option>
                                <option value="山形県">山形県</option>
                                <option value="福島県">福島県</option>
                                <option value="茨城県">茨城県</option>
                                <option value="栃木県">栃木県</option>
                                <option value="群馬県">群馬県</option>
                                <option value="埼玉県">埼玉県</option>
                                <option value="千葉県">千葉県</option>
                                <option value="東京都">東京都</option>
                                <option value="神奈川県">神奈川県</option>
                                <option value="新潟県">新潟県</option>
                                <option value="富山県">富山県</option>
                                <option value="石川県">石川県</option>
                                <option value="福井県">福井県</option>
                                <option value="山梨県">山梨県</option>
                                <option value="長野県">長野県</option>
                                <option value="岐阜県">岐阜県</option>
                                <option value="静岡県">静岡県</option>
                                <option value="愛知県">愛知県</option>
                                <option value="三重県">三重県</option>
                                <option value="滋賀県">滋賀県</option>
                                <option value="京都府">京都府</option>
                                <option value="大阪府">大阪府</option>
                                <option value="兵庫県">兵庫県</option>
                                <option value="奈良県">奈良県</option>
                                <option value="和歌山県">和歌山県</option>
                                <option value="鳥取県">鳥取県</option>
                                <option value="島根県">島根県</option>
                                <option value="岡山県">岡山県</option>
                                <option value="広島県">広島県</option>
                                <option value="山口県">山口県</option>
                                <option value="徳島県">徳島県</option>
                                <option value="香川県">香川県</option>
                                <option value="愛媛県">愛媛県</option>
                                <option value="高知県">高知県</option>
                                <option value="福岡県">福岡県</option>
                                <option value="佐賀県">佐賀県</option>
                                <option value="長崎県">長崎県</option>
                                <option value="熊本県">熊本県</option>
                                <option value="大分県">大分県</option>
                                <option value="宮崎県">宮崎県</option>
                                <option value="鹿児島県">鹿児島県</option>
                                <option value="沖縄県">沖縄県</option>
                            </select>
                            
                        </p>
                        <p>
                            <label for="hensachi">偏差値</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="hensachi" placeholder="半角数字 28以上78以下"></input>
                        </p>
                        <p>
                            <label for="furigana">高校名（ふりがな）</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="furigana"></input>
                        </p>
                        
                        <p>
                            <label for="name">高校画像(任意)</label><br>
                            <input disabled type="button" value="画像選択"></input>
                        </p>
                    
                        <p>
                            <label for="overview">概要</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <textarea disabled id="overview"></textarea>
                        </p>
                    
                        <p>
                            <label for="phone">TEL</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="phone" placeholder="半角数字10~11文字"></input>
                        </p>
                        <p>
                            <label for="address">所在地</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="address"></input>
                        </p>
                        <p>
                            <label for="URL">学校HP</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <input disabled type="text" id="URL"></input>
                        </p>
                        <p>
                            <label for="school_type">男女共学</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <!-- <input disabled type="checkbox" name="学" value="すべて">すべて -->
                            <input disabled type="radio" name="学" value="男子校">男子校
                            <input disabled type="radio" name="学" value="女子校">女子校
                            <input disabled type="radio" name="学" value="共学">共学
                        </p>
                        <p>
                            <label for="institution">国公私立</label>
                            <label for="inputField"><span class="required">必須</span></label><br>
                            <!-- <input disabled type="checkbox" name="立" value="すべて">すべて -->
                            <input disabled type="radio" name="立" value="公立">公立
                            <input disabled type="radio" name="立" value="私立">私立
                            <input disabled type="radio" name="立" value="国立">国立
                        </p>
                        <input type="submit" value="登録"></input><br>
                        <input type="submit" value="戻る"></input>
                    </form>
                </div>
            </div>
        </body>
        <footer>
            <form th:action="@{school/add}" th:object="${admin}" th:method="post">
                <label>お問い合わせ：000-0000-00000</label>　　　　　　
                <input type="submit" value="管理者ログイン">
            </form>
        </footer>
    </body>
</html>