<html lang="ja" xmlns:th="http://www.thymeleaf.org" >
    <!--th:replace="~{base :: layout(~{::title},~{::body/content()})}"-->

<head>
    <meta charset="UTF-8">
    <title>HIGH SCHOOL LIBRARY</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<header>
    <img id="top" th:src="@{/images/image.png}" width="300" height="100" alt="高校の写真">
    <div id="mng">
        <form>
            <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
        </form>
        <form action="/admin/new" method="get" target="_blank">
            <input type="submit" value="学校登録">
        </form>
        <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
            <span>
                <label for="search_h">高校名で検索</label>
                <input type="text" id="keyword" name="keyword">
                <input type="submit" value="検索">
            </span>
        </form>
    </div>
</header>

<body>
    <div class="contents_body">
        <h2>コメント送信フォーム</h2>
        <div id="search"><!---->
        <form th:action="@{/schools/{schoolId}/user/add(schoolId=${schoolId})}" th:object="${postsDTO}" th:method="post">
            <input type="hidden" th:field="*{schoolId}">
                <p>
                    <label for="title">タイトル</label><!-- コメントタイトル -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="text" th:field="*{title}">
                </p>
                <p>
                    <label for="institution">ステータス</label><!-- 在校生か卒業生 -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="radio" value="在校生" th:field="*{status}">在校生
                    <input type="radio" value="卒業生" th:field="*{status}">卒業生
                </p>
                <p>
                    <label for="enrollment" >年度入力</label><!-- 何年に入学したか -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="text" placeholder="半角数字四桁：2000" th:field="*{enrollment}">
                </p>
                <p>
                    <label for="institution">性別</label><!-- 在校生か卒業生 -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="radio" value="男" th:field="*{gender}">男
                    <input type="radio" value="女" th:field="*{gender}">女
                    <input type="radio" value="その他" th:field="*{gender}">その他
                </p>
                <p>
                    <label for="totalComment">総合評価コメント</label>
                    <label for="inputField"><span class="required">必須</span></label><br><!-- 総合評価に対するコメント -->
                    <textarea rows="4" cols="50" th:field="*{totalComment}"></textarea>
                </p>
                <p>
                    <label for="environmentScore">環境評価</label><!-- 環境評価点 -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="radio" value="1" th:field="*{environmentScore}">1
                    <input type="radio" value="2" th:field="*{environmentScore}">2
                    <input type="radio" value="3" th:field="*{environmentScore}">3
                    <input type="radio" value="4" th:field="*{environmentScore}">4
                    <input type="radio" value="5" th:field="*{environmentScore}">5
                </p>
                <p>
                    <label for="environmentComment">環境コメント</label>
                    <label for="inputField"><span class="required">必須</span></label><br><!-- 環境に関するコメント -->
                    <textarea rows="4" cols="50" th:field="*{environmentComment}"></textarea>
                </p>
                <p>
                    <label for="clubScore">部活動評価</label><!-- 部活動評価点 -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="radio" value="1" th:field="*{clubScore}">1
                    <input type="radio" value="2" th:field="*{clubScore}">2
                    <input type="radio" value="3" th:field="*{clubScore}">3
                    <input type="radio" value="4" th:field="*{clubScore}">4
                    <input type="radio" value="5" th:field="*{clubScore}">5
                </p>
                <p>
                    <label for="clubComment">部活動コメント</label>
                    <label for="inputField"><span class="required">必須</span></label><br><!-- 部活動に関するコメント -->
                    <textarea rows="4" cols="50" th:field="*{clubComment}"></textarea>
                </p>
                <p>
                    <label for="eventScore">イベント評価</label><!-- イベントに対する評価点 -->
                    <label for="inputField"><span class="required">必須</span></label><br>
                    <input type="radio" value="1" th:field="*{eventScore}">1
                    <input type="radio" value="2" th:field="*{eventScore}">2
                    <input type="radio" value="3" th:field="*{eventScore}">3
                    <input type="radio" value="4" th:field="*{eventScore}">4
                    <input type="radio" value="5" th:field="*{eventScore}">5
                </p>
                <p>
                    <label for="eventComment">イベントコメント</label>
                    <label for="inputField"><span class="required">必須</span></label><br><!-- イベントに関するコメント -->
                    <textarea rows="4" cols="50" th:field="*{eventComment}"></textarea>
                </p>
                <input type="submit" value="確認">
            </form>
        </div>
    </div>
    <footer>
        <label>お問い合わせ：000-0000-00000</label>　　　　　　
        <a th:href="login"><button>管理者ログイン</button></a>
    </footer>
</body>


</html>