body{
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 10;
    padding: 0 120px;
}
element.style {
    margin-top: 0;
    margin-left: 120px;
    margin-right: 120px;
}
header{
    font-size: 20px;
    background-color: #d0dfec;
    height: 100px;
    margin-top: 20px;
    white-space: nowrap;
    display:flex;
    text-align: right;
    align-items: flex-end;
}
footer{
    background-color: #d0dfec;
    height: 100px;
    white-space: nowrap;
}
.contents{
    width: 70%;
    margin: 0 30px 0 30px;
}
.contents_body {
    background-color: #cbec9f;
    border: solid 0.5px;
    border-radius: 5ps;
    margin: 20px;
    padding: 20px;
}

/* 本cssの特殊部分 */

#error{
    margin: 20px;
    padding: 20px;
    text-align: center;
}