<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>HIGH SCHOOL LIBRARY</title>
        <link rel="stylesheet" href="error.css">
    </head>
    <bo>
        <header>
            <img id="top" th:src="@{/images/image.png}" width="300" height="100" alt="高校の写真">
            <div id="mng">
                <form>
                    <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
                </form>
                <form action="/admin/new" method="get" target="_blank">
                    <input type="submit" value="学校登録">
                </form>
                <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
                    <span>
                        <label for="search_h">高校名で検索</label>
                        <input type="text" id="keyword" name="keyword">
                        <input type="submit" value="検索">
                    </span>
                </form>
            </div>
        </header>
        <body>
            <div id="error">
                <h1>システムエラーが発生しました</h1>
                <h3>お手数ですがトップページから操作をやり直してください</h3>
                <p>
                    <input type="submit" id="top_button" value="トップページへ戻る">
                </p>
            </div>
        </body>
        <footer>
            <label>お問い合わせ：000-0000-00000</label>　　　　　　
            <a th:href="login"><button>管理者ログイン</button></a>
        </footer>
    </body>
</html>