<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>School Data</title>
</head>
<body>
<h1>School Data</h1>
<table border="1">
    <tr>
        <th>Image</th>
        <th>School Name</th>
        <th>Average Score</th>
        <th>Post Count</th>
        <th>Deviation Value</th>
    </tr>
    <tr th:each="ranking : ${rankingList}">
        <td><img th:src="${RankingData.schoolImage}" alt="School Image" width="100"></td>
        <td th:text="${RankingData.schoolName}"></td>
        <td th:text="${RankingData.avgScore}"></td>
        <td th:text="${RankingData.postCount}"></td>
        <td th:text="${RankingData.schoolDeviationValue}"></td>
    </tr>
</table>
</body>
</html>



<h2>総合ランキング</h2>
                    <div class="school_rank">
                        <ul>
                            <li th:each="school : ${school_evaluations}">
                                <a th:href="@{/school/{id}(id=${school.id})}">
                                    <img th:src="@{/images/{filename}(filename=${school.imageFilename})}" width="100" height="100" alt="高校の写真">
                                    <br>
                                    <span th:text="${school.name}">学校名</span><br>
                                    <span th:text="${school.totalScore} + '点 / ' + ${school.prefecture} + ' / ' + ${school.gender}">評価/都道府県/男女共学</span>
                                </a>
                            </li>
                        </ul>
                    </div>