<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>HIGH SCHOOL LIBRARY</title>
    <link rel="stylesheet" th:href="@{/css/schoolDetail.css}">
</head>
<bo>
    <header>
        <img id="top" th:src="@{/images/image.png}" width="300" height="100" alt="高校の写真">
        <div id="mng">
            <form>
                <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
            </form>
            <form action="/admin/new" method="get" target="_blank">
                <input type="submit" value="学校登録">
            </form>
            <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
                <span>
                    <label for="search_h">高校名で検索</label>
                    <input type="text" id="keyword" name="keyword">
                    <input type="submit" value="検索">
                </span>

            </form>
        </div>
    </header>

    <body>
        <div class="contents-body">
            <div class="school-info">
                <div class="mod-school">
                    <div class="mod-school-inner">
                        <div class="mod-school-top">
                            <div class="mod-school-one">
                                <span th:text="${school.name}"></span>：<span th:text="${school.deviationValue}"></span>
                                    <form th:action="@{/admin/edit/{id}(id=${school.id})}" method="get">
                                        <!-- 送信するIDを隠しフィールドとして送る -->
                                        <input type="hidden" th:field="${school.id}" />
                                            <button type="submit">編集</button>
                                    </form>
                                </div>

                                <div class="mod-school-caption" th:text="${school.nameFurigana}">(ふりがな)</div>
                                <div class="school-star">img:★★☆☆☆ 評価値の平均値2.2</div>
                            </div>
                            <div class="overview">
                                <h2>概要</h2>
                                <p th:text="${school.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="school-image">
                <img id="top" th:src="${school.image}" width="100" height="100" alt="高校の写真">
            </div>

            <div th:each="post : ${posts}" th:object="${posts}">
                <div class="overview">
                    <h2>概要</h2>
                    <p>
                        学校.概要
                    </p>
                </div>
                <form th:action="@{/schools/{id}/edit-post(id=${school.id})}" method="get">
                    <!-- 送信するIDを隠しフィールドとして送る -->
                    <input type="hidden" th:field="${school.id}" />
                        <button type="submit">投稿</button>
                </form>
                <!-- <div id="comment">
                    <div th:each="post : ${posts}">
                        <div class="post-info" style="display: flex; align-items: center;">
                            <p th:text="${post.status} + ' / '">〇〇生 /</p>
                        </div>
                        <div class="post-header">
                            <div style="display: flex; align-items: center;">
                                <img th:src="${post.gender == '男' ? '/male.png' : (post.postGender == '女' ? '/female.png' : '/other.png')}"
                                    alt="性別アイコン" class="gender-image" />
                            </div>
                            <h2 th:text="${post.title}">タイトル</h2>
    
                                    評価アイコンを表示
                                    <div style="display: flex; align-items: center;">
                                        <img th:src="${post.totalScore== 5 ? '/score_5.png' :
                                                post.totalScore == 4 ? '/score_4.png' :
                                                post.totalScore == 3 ? '/score_3.png' :
                                                post.totalScore == 2 ? '/score_2.png' :
                                                '/score_1.png'}" alt="評価アイコン" class="rating-image" />
                                        <p th:text="'総合得点: ' + ${post.totalScore}" style="margin-left: 10px;">
                                            総合得点</p>
                                    </div>
                                </div>
                                <p th:text="'投稿日付: ' + ${post.postedAt}">投稿日付: 2000/04</p>
                                <p
                                    th:text="'環境: ' + ${post.environmentScore} + ' | 部活動: ' + ${post.clubScore} + ' | イベント: ' + ${post.eventScore}">
                                    [環境:3 | 部活動:3 | イベント:3]</p>
                                <h3>総合評価</h3>
                                <p th:text="${post.totalComment}">総合評価に関するコメント</p>
                            </div>
                            <div style="text-align: right;">
                                <form action="/delete" method="POST">
                                    <button type="submit" class="delete-button">削除</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>


            <footer>
                <label>お問い合わせ：000-0000-00000</label>　　　　　　
                <a th:href="login"><button>管理者ログイン</button></a>
            </footer>
    </body>
</html>