body{
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 10;
    padding: 0 120px;
}
element.style {
    margin-top: 0;
    margin-left: 120px;
    margin-right: 120px;
}
header{
    font-size: 20px;
    background-color: #d0dfec;
    height: 100px;
    margin-top: 20px;
    white-space: nowrap;
    display:flex;
    text-align: right;
    align-items: flex-end;
}
footer{
    background-color: #d0dfec;
    height: 100px;
    white-space: nowrap;
}
.contents{
    width: 70%;
    margin: 0 30px 0 30px;
}
.contents_body {
    background-color: #cbec9f;
    border: solid 0.5px;
    border-radius: 5ps;
    margin: 20px;
    padding: 20px;
}

/* 本cssの特殊部分 */
.result {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦中央揃え */
}
.result img {
    width: 100px; /* 画像のサイズ */
    height: auto;
    margin-left: 10px; /* 画像と情報の間に余白を追加 */
}
.info {
    flex-grow: 1; /* 情報部分が残りのスペースを占める */
}
.title {
    font-size: 1.2em;
    color: #0066cc;
}
.score {
    color: #666;
}
