<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿ありがとう！</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .message {
            font-size: 48px;
            color: #57b617;
        }
        .message2 {
            font-size: 18px;
            color: #5461db;
        }
        .message3 {
            font-size: 26px;
            color: #0d1b30;
        }
    </style>
</head>
<body>
    <div class="message">
        完了しました
    </div>
    <div class="message2">
        Thank you for your hard work
    </div><br>
    <div class="message3">
        タブを閉じてください
    </div><br>
</body>
</html>