<html lang="ja" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title>HIGH SCHOOL LIBRARY</title>
        <link rel="stylesheet" href="highSchoolLib.css">
    </head>
    <style>
        .required {
            display: inline-block; /* インラインブロックで配置 */
            border: 1px solid red; /* 赤い枠線 */
            padding: 1px 2px; /* 内側の余白 */
            color: red; /* 文字色 */
            font-weight: bold; /* 太字 */
            border-radius: 3px; /* 角を少し丸める */
            font-size: 12px; /* 文字サイズを小さく */
        }
    </style>
    <header>
        <img id="top" src="image.png" width="300" height="100" alt="高校の写真">
        <div id="mng">
            <form>
                <input type="submit" value="学校登録"><!--権限制御の追加がない-->
                <input type="submit" value="ログアウト"><!--権限制御の追加がない-->
            </form>
            <form th:action="@{/schools/}" th:object="${school_name}" th:method="post">
                <span>
                    <label for="search_h">高校名で検索</label>
                    <input type="text" id="keyword" name="keyword">
                    <input type="submit" value="検索">
                </span>
            </form>
        </div>
    </header>
    <body>
        <div class="contents_body">
            <h2>コメント送信フォーム</h2>
            <div id="search"><!---->
                <form th:action="@{/thanks}" th:object="${PostsDTO}" th:method="post">
                    <p>
                        <input hidden type="text" id="id" name="schoolId" value="${id}" />
                    </p>
                    <p>
                        <label for="title">タイトル</label><!-- コメントタイトル -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="text" id="title" name="title" th:text="${PostsDTO.title}"></p>
                        <input hidden th:field="*{title}">
                    </p>
                    <p>
                        <label for="institution">ステータス</label><!-- 在校生か卒業生 -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="radio" id="radio" name="status" th:text="${PostsDTO.status}"></p>
                        <input hidden th:field="*{status}">
                    </p>
                    <p>
                        <label for="enrollment" >年度入力</label><!-- 何年に入学したか -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="text" id="enrollment" name="enrollment" th:text="${PostsDTO.enrollment}"></p>
                        <input hidden th:field="*{enrollment}">
                    </p>
                    <p>
                        <label for="institution">性別</label><!-- 男性・女性・その他 -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="radio" id="radio" name="gender" th:text="${PostsDTO.gender}"></p>
                        <input hidden th:field="*{gender}">
                    </p>
                    <p>
                        <label for="totalComment">総合評価コメント</label>
                        <label for="inputField"><span class="required">必須</span></label><br><!-- 総合評価に対するコメント -->
                        <p type="text" id="totalComment" name="totalComment" th:text="${PostsDTO.totalComment}"></p>
                        <textarea hidden th:field="*{totalComment}"></textarea>
                    </p>
                    <p>
                        <label for="environment">環境評価</label><!-- 環境評価点 -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="radio" id="radio" name="environmentScore" th:text="${PostsDTO.environmentScore}"></p>
                        <input hidden th:field="*{environmentScore}">
                    </p>
                    <p>
                        <label for="environmentComment">環境コメント</label>
                        <label for="inputField"><span class="required">必須</span></label><br><!-- 環境に関するコメント -->
                        <p type="text" id="environmentComment" name="environmentComment" th:text="${PostsDTO.environmentComment}"></p>
                        <textarea hidden th:field="*{environmentComment}"></textarea>
                    </p>
                    <p>
                        <label for="clubScore">部活動評価</label><!-- 部活動評価点 -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="radio" id="radio" name="clubScore" th:text="${PostsDTO.clubScore}"></p>
                        <input hidden th:field="*{clubScore}">
                    </p>
                    <p>
                        <label for="clubComment">部活動コメント</label>
                        <label for="inputField"><span class="required">必須</span></label><br><!-- 部活動に関するコメント -->
                        <p type="text" id="clubComment" name="clubComment" th:text="${PostsDTO.clubComment}"></p>
                        <textarea hidden th:field="*{clubComment}"></textarea>
                    </p>
                    <p>
                        <label for="eventScore">イベント評価</label><!-- イベントに対する評価点 -->
                        <label for="inputField"><span class="required">必須</span></label><br>
                        <p type="radio" id="radio" name="eventScore" th:text="${PostsDTO.eventScore}"></p>
                        <input hidden th:field="*{eventScore}">
                    </p>
                    <p>
                        <label for="eventComment">イベントコメント</label>
                        <label for="inputField"><span class="required">必須</span></label><br><!-- イベントに関するコメント -->
                        <p type="text" id="eventComment" name="eventComment" th:text="${PostsDTO.eventComment}"></p>
                        <textarea hidden th:field="*{eventComment}"></textarea>
                    </p>
                    <input type="submit" value="登録">
                    <button type="button" onclick="window.history.back()">戻る</button>
                </form>
            </div>
        </div>
    </body>
    <footer>
        <form th:action="@{school/add}" th:object="${admin}" th:method="post">
            <label>お問い合わせ：000-0000-00000</label>
            <input type="submit" value="管理者ログイン">
        </form>
    </footer>
</html>