body{
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
}
element.style {
    margin-top: 0;
    margin-left: 120px;
    margin-right: 120px;
}
header{
    font-size: 20px;
    background-color: #d0dfec;
    border-bottom: solid "808080";
    height: 100px;
    margin: 20px;
    white-space: nowrap;
    display:flex;
    text-align: right;
    align-items: flex-end;
}
footer{
    background-color: #d0dfec;
    height: 120px;
    margin: 20px;
    white-space: nowrap;
}

/* 本cssの特殊部分 */
.required {
    display: inline-block; /* インラインブロックで配置 */
    border: 1px solid red; /* 赤い枠線 */
    padding: 1px 2px; /* 内側の余白 */
    color: red; /* 文字色 */
    font-weight: bold; /* 太字 */
    border-radius: 3px; /* 角を少し丸める */
    font-size: 12px; /* 文字サイズを小さく */
}
.contents_body {
    background-color: #cbec9f;
    border: solid 0.5px;
    border-radius: 5ps;
    margin: 20px;
    padding: 20px;
}
h2 {
    margin: 20px;
}

.highlight-background {
    background-color: #f0f8ff;  /* 背景色（水色） */
    padding: 0 5px;  /* 少しの余白を追加 */
    border-radius: 5px;  /* 角を丸くする */
}
