body{
    background-color: #FFFFFF;
    margin: 10;
    padding: 0;
    margin: 10;
}
element.style {
    margin-top: 0;
    margin-left: 120px;
    margin-right: 120px;
}
header{
    font-size: 20px;
    background-color: #d0dfec;
    border-bottom: solid "808080";
    height: 100px;
    margin-top: 20px;
    white-space: nowrap;
    display:flex;
    text-align: right;
    align-items: flex-end;
}
footer{
    background-color: #d0dfec;
    height: 120px;
    white-space: nowrap;
}

.do {
    margin: 20px;
}

#error{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
button {
    width: 75px;  /* 幅を固定 */
    font-size: 12px;
    white-space: nowrap;
}